# Python
__pycache__/
*.py[cod]
*.log

# Virtual Environments
venv/
.venv/
env/

# Database
*.db
*.sqlite
*.sqlite3

# Environment
.env

# Editors / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
